<div class="answer-poll-container">
	<div class="form-container">
		<div ng-show="!pollFilled">
			<h2>{{poll.title}}</h2>
			<p>{{poll.instructions}}</p>
			<p ng-show="poll.iteration > 0">This is the iteration <b>#{{poll.iteration+1}}</b>. You will see that your previous answers will be marked. You can review your answers and change them or leave them as they were, after you finish reviewing them you can submit.</p>
			<div ng-show="poll.type === '1'">
				<ul class="list-group" ui-sortable ng-model="poll.questions">
				  <li class="draggable-question list-group-item" ng-repeat="item in poll.questions">{{ item.text }}</li>
				</ul>
				<button class="btn btn-primary" ng-click="submit()">Submit</button>
			</div>
			<div class="row" ng-show="poll.type === '2'">
				<h3>{{ currentVariable.name }}</h3>
				<table>
					<thead>
						<tr class="Answers" aria-hidden="true">  
							<td width="61%">  &nbsp;  </td>    
							<th class="option" width="21%">{{poll.options[1]}}</th>  
							<th class="option" width="13%">{{poll.options[0]}}</th>  
						</tr>
					</thead>
					<tbody >
						<tr  ng-repeat="item in currentVariable.items track by $index">
							<th>{{ item.name }}</th>
							<td><input type="radio" name="{{item.name}}" ng-model="item.important" value="notImportant"> </td>
							<td><input type="radio" ng-model="item.important"  name="{{item.name}}" value="important"> </td>
						</tr>
					</tbody>
				</table>
				<button ng-show="!isFirstVariable" class="btn btn-primary" ng-click="back()">Back</button>
				<button ng-show="!isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="next()">Next</button>
				<button ng-show="isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="submitDichotomic()">Submit</button>
			</div>
			<div class="row" ng-show="poll.type === '3'">
				<h3>{{ currentVariable.name }}</h3>
				<table>
					<thead>
						<tr class="Answers" aria-hidden="true">  
							<td width="61%">  &nbsp;  </td>    
							<th width="21%">{{poll.options[0]}}</th>
							<th width="21%">{{poll.options[1]}}</th>
							<th width="21%">{{poll.options[2]}}</th>  
							<th width="21%">{{poll.options[3]}}</th>  
							<th width="21%">{{poll.options[4]}}</th>
						</tr>
					</thead>
					<tbody >
						<tr  ng-repeat="item in currentVariable.items track by $index">
							<th>{{ item.name }}</th>
							<td><input type="radio" ng-model="item.weight" value="1"> </td>
							<td><input type="radio" ng-model="item.weight" value="2"> </td>
							<td><input type="radio" ng-model="item.weight" value="3"> </td>
							<td><input type="radio" ng-model="item.weight" value="4"> </td>
							<td><input type="radio" ng-model="item.weight" value="5"> </td>
						</tr>
					</tbody>
				</table>
				<button ng-show="!isFirstVariable" class="btn btn-primary" ng-click="back()">Back</button>
				<button ng-show="!isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="next()">Next</button>
				<button ng-show="isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="submitLikert()">Submit</button>
			</div>
		</div>
		<div ng-show="pollFilled">
			Thanks for filling the poll!
		</div>
	</div>
</div>