<div class="answer-poll-container">
	<div class="form-container">
		<div ng-show="!pollFilled">
			<h2>{{poll.title}}</h2>
			<p>{{poll.instructions}}</p>
			<p ng-show="poll.iteration > 0"><div translate="LBL_INSTRUCTION_1"/><b>#{{poll.iteration+1}}</b>. <div translate="LBL_INSTRUCTION_2"/>.</p>
			<div ng-show="poll.type === '1'">
				<ul class="list-group" ui-sortable ng-model="poll.questions">
				  <li class="draggable-question list-group-item" ng-repeat="item in poll.questions">{{ item.text }}</li>
				</ul>
				<button class="btn btn-primary" ng-click="submit()"><div translate="SUBMIT"/></button>
			</div>
			<div class="row" ng-show="poll.type === '2'">
				<h3>{{ currentVariable.name }}</h3>
				<table>
					<thead>
						<tr class="Answers" aria-hidden="true">  
							<td width="61%">  &nbsp;  </td>    
							<th class="option" width="21%">{{poll.options[1]}}</th>  
							<th class="option" width="13%">{{poll.options[0]}}</th>  
						</tr>
					</thead>
					<tbody >
						<tr  ng-repeat="item in currentVariable.items track by $index">
							<th>{{ item.name }}</th>
							<td><input type="radio" name="{{item.name}}" ng-model="item.important" value="notImportant"> </td>
							<td><input type="radio" ng-model="item.important"  name="{{item.name}}" value="important"> </td>
						</tr>
					</tbody>
				</table>
				<button ng-show="!isFirstVariable" class="btn btn-primary" ng-click="back()"><div translate="BACK"/></button>
				<button ng-show="!isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="next()"><div translate="NEXT"/></button>
				<button ng-show="isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="submitDichotomic()"><div translate="SUBMIT"/></button>
			</div>
			<div class="row" ng-show="poll.type === '3'">
				<h3>{{ currentVariable.name }}</h3>
				<table>
					<thead>
						<tr class="Answers" aria-hidden="true">  
							<td width="61%">  &nbsp;  </td>    
							<th width="21%">{{poll.options[0]}}</th>
							<th width="21%">{{poll.options[1]}}</th>
							<th width="21%">{{poll.options[2]}}</th>  
							<th width="21%">{{poll.options[3]}}</th>  
							<th width="21%">{{poll.options[4]}}</th>
						</tr>
					</thead>
					<tbody >
						<tr  ng-repeat="item in currentVariable.items track by $index">
							<th>{{ item.name }}</th>
							<td><input type="radio" ng-model="item.weight" value="1"> </td>
							<td><input type="radio" ng-model="item.weight" value="2"> </td>
							<td><input type="radio" ng-model="item.weight" value="3"> </td>
							<td><input type="radio" ng-model="item.weight" value="4"> </td>
							<td><input type="radio" ng-model="item.weight" value="5"> </td>
						</tr>
					</tbody>
				</table>
				<button ng-show="!isFirstVariable" class="btn btn-primary" ng-click="back()"><div translate="BACK"/></button>
				<button ng-show="!isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="next()"><div translate="NEXT"/></button>
				<button ng-show="isFinalVariable" class="dichotomic-button btn btn-primary" ng-click="submitLikert()"><div translate="SUBMIT"/></button>
			</div>
		</div>
		<div ng-show="pollFilled">
			<div translate="THANKS_FOR_FILLING_THE_POLL"/>!
		</div>
	</div>
</div>