<div class="container">
	<div class="button-container">
		<div style="display: flex;">
			<button ng-click="CreateSurvey(1)" class="btn btn-danger col-lg-6" style="margin:4px;white-space:normal;">
				<h4>Ranking</h4>
				<p translate="RANKING-MSG"></p>

			</button>
			<button ng-click="CreateSurvey(2)" class="btn btn-info col-lg-6" style="margin:4px;white-space:normal;">
				<h4 translate="DICHOTOMIC"></h4>
				<p translate="DICHOTOMIC-MSG"></p>
			</button>
			<button ng-click="CreateSurvey(3)" class="btn btn-success col-lg-6" style="margin:4px;white-space:normal;">
				<h4>Likert</h4>
				<p translate="LIKERT-MSG"></p>
			</button>
		</div>
	</div>
</div>