<div class="container">
	<div class="button-container">
		<div style="display: flex;">
			<button ng-click="CreateSurvey(1)" class="btn btn-danger col-lg-6" style="margin:4px;white-space:normal;">
				<h4>Ranking</h4>
				<p>Rank the answers from the most to least importante. We make use of the algorithm of Kendall's coefficient of concordancenand can be used for assessing agreement among raters.</p>

			</button>
			<button ng-click="CreateSurvey(2)" class="btn btn-info col-lg-6" style="margin:4px;white-space:normal;">
				<h4>Dicotomic</h4>
				<p>Choosing between two distinct alternatives. Classification based upon two opposites. We use Kappa's Fleiss algorithm, this is a statistical measure for assessing the reliability of agreement between a fixed number of raters when assigning categorical ratings to a number of items or classifying items.</p>
			</button>
			<button ng-click="CreateSurvey(3)" class="btn btn-success col-lg-6" style="margin:4px;white-space:normal;">
				<h4>Likert</h4>
				<p>Multiple choice poll. When responding to a Likert item, rathers specify their level of agreement or disagreement on a symmetric agree-disagree scale for a series of statements.</p>
			</button>
		</div>
	</div>
</div>