<div class="investigation-list">
    <div class="button-banner">
        <button ng-click="CreateSurvey()" type="button" class="add-investigation-button btn btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span translate="ADD-SURVEY"></span>
        </button>
    </div>
	<div id="grid-container">
        <md-progress-circular class="investigation-modal" md-mode="indeterminate" ng-show="loadingInvestigations"></md-progress-circular>
        <div id="no-more-tables row">
            <div class="investigation col-md-4"   ng-repeat="poll in investigation.polls">
                <div id="content">
                    <div class="header">
                        <!-- <h2>Current Status</h2> -->
                        <h1 class="investigation-name">{{poll.title}}</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div style="visibility: hidden">
      <div class="md-dialog-container" id="edit-investigation-dialog">
        <md-dialog>
          <div class="expert-dialog">
            <h4>Edit Research studies</h4>
            <p>Name</p>
            <input ng-model="editInvestigationModel.name">
            <p>Description</p>
            <input ng-model="editInvestigationModel.description">
            <p>Website</p>
            <input ng-model="editInvestigationModel.website">
            <div class="dialog-button">
                <button class="btn btn-primary" ng-click="updateInvestigation()">Update</button>
                <button class="btn btn-danger" ng-click="closeDialog()">Cancel</button>
            </div>
          </div>
        </md-dialog>
      </div>
    </div>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="delete-investigation-dialog">
        <md-dialog>
          <div class="expert-dialog">
            <h4>Delete {{deleteInvestigationModel.name}}</h4>
            <div class="dialog-button">
                <button class="btn btn-primary" ng-click="Delete(deleteInvestigationModel.id)">Delete</button>
                <button class="btn btn-danger" ng-click="closeDialog()">Cancel</button>
            </div>
          </div>
        </md-dialog>
      </div>
    </div>
</div>

<div translate="YOU_HAVE_NO_POLLS" ng-show="investigation.polls.length === 0"></div>