.register .container {
  margin-top: 5%;
}
.register .main {
  margin-right: 20%;
  margin-left: 20%;
}
.login .container {
  margin-top: 5%;
}
.login .main {
  margin-right: 20%;
  margin-left: 20%;
}
.main-sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222;
  border-right: 1px solid #eee;
  color: #9d9d9d;
}
.wrapper {
  overflow: initial !important;
}
.logo {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
.logo:hov {
  cursosr: pointer;
}
.sidebar-menu {
  list-style: none;
  padding-left: 0px;
}
.main-sidebar .header {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-right {
  margin-right: 0;
}
.sidebar-menu li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
.sidebar-menu li:hover {
  background-color: #000;
  color: #ffffff;
}
.glyphicon-remove {
  color: red !important;
}
.content-wrapper {
  margin-left: 0;
}
.investigation-list #grid-container {
  box-sizing: border-box;
}
.investigation-list #no-more-tables {
  overflow: auto;
  position: relative;
}
.investigation-list #content {
  margin: 20px;
}
.investigation-list .button-banner {
  margin-left: 1%;
}
.investigation-list .investigation {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: white;
  margin: 1%;
  border-radius: 5px;
  overflow: hidden;
  height: 26rem;
  width: 30%;
}
.investigation-list .investigation .header {
  background-color: white;
  width: 100%;
  display: inline-block;
}
.investigation-list .investigation .header h2 {
  color: slategray;
  font-size: 15px;
  margin: 0px;
}
.investigation-list .investigation .header h1 {
  color: #616161;
  font-weight: 600;
  font-size: 30px;
  align-self: flex-end;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 29rem;
  display: block;
  overflow: hidden;
}
.investigation-list .investigation .body .progress {
  width: 60%;
}
.investigation-list .investigation .body .meta-info-wrapper {
  display: flex;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.investigation-list .investigation .body .meta-info-wrapper .variables-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  display: flex;
}
.investigation-list .investigation .body .meta-info-wrapper .variables-section h4 {
  text-align: left;
  font-size: 13px;
}
.investigation-list .investigation .body .meta-info-wrapper .experts-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  display: flex;
}
.investigation-list .investigation .body .meta-info-wrapper .experts-section h4 {
  text-align: left;
  font-size: 13px;
}
.investigation-list .investigation .body .meta-info-wrapper .big-number {
  font-size: 40px;
  color: #9A99A1;
  font-weight: bold;
  margin: 5px;
}
.investigation-list .investigation .body .meta-info-wrapper:hover {
  border: 1px solid #FF3D00;
}
.investigation-list .add-investigation-button {
  margin-top: 6%;
  margin-bottom: 2%;
}
.actions {
  border-top-color: #E0F7FA;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 1%;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.actions .option1 {
  color: #616161;
}
.actions .option1:hover {
  color: #D500F9;
  cursor: pointer;
}
.actions .option2 {
  color: #616161;
}
.actions .option2:hover {
  color: #FF9100;
  cursor: pointer;
}
.actions .option3 {
  color: #616161;
  cursor: pointer;
}
.actions .option3:hover {
  color: #FF1744;
  cursor: pointer;
}
.new-investigation-container {
  margin-top: 4%;
  margin-left: 1%;
}
.new-investigation-container h2 {
  padding-top: 2%;
}
.investigation-info {
  margin-top: 0px;
}
.investigation-info h3 {
  margin-top: 0px;
}
.investigation-info p {
  font-size: 17px;
  margin: 0px;
  color: slategray;
}
.investigation-info span {
  font-size: 15px;
  font-style: italic;
}
.view-investigation-container {
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
}
.view-investigation-container h2 {
  padding-top: 2%;
}
.view-investigation-container .new-variable-button {
  width: 86%;
  display: inline;
  border-radius: 5px;
  border-style: groove;
}
.view-investigation-container .add-variable-button {
  margin-top: 2%;
}
.view-investigation-container .dimension-container {
  margin-top: 2%;
}
.view-investigation-container .panel .glyphicon-remove {
  float: right;
  cursor: pointer;
  background-color: red;
  color: white !important;
  padding: 4px;
  border-radius: 27%;
  margin-right: 2%;
}
.view-investigation-container .panel .glyphicon-plus {
  float: right;
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 4px;
  border-radius: 27%;
  margin-right: 1%;
}
.view-investigation-container .panel .glyphicon-ok {
  float: right;
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 4px;
  border-radius: 27%;
  margin-right: 1%;
}
.view-investigation-container .panel-primary {
  width: 49%;
  display: inline-table;
}
.expert-dialog {
  padding: 5%;
}
.expert-dialog .dialog-button {
  margin-top: 2%;
}
.remove-experts-container {
  margin-top: 4%;
  padding: 3%;
}
.remove-experts-container .box {
  background-color: white;
  width: 72%;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}
.remove-experts-container .box .expert-list {
  padding-bottom: 2%;
}
.remove-experts-container .box .expert-list .expert {
  margin-bottom: 2%;
}
.new-investigation-container textarea,
.new-investigation-container input {
  width: 40%;
}
.new-investigation-container .note-list {
  width: 200px;
}
.new-investigation-container .note-list h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.new-investigation-container .note-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.new-investigation-container .note-list li {
  font: 200 17px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
.new-investigation-container .note-list li:last-child {
  border: none;
}
.new-investigation-container .note-list li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
.new-investigation-container .note-list li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
.poll-list {
  margin-top: 4%;
}
.poll-list .add-poll-button {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 1%;
}
.poll-list .poll {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: white;
  margin: 1%;
  display: inline-block;
  width: 17%;
}
.poll-list .poll .header {
  background-color: #3c8dbc;
}
.poll-list .poll .header .glyphicon {
  margin-left: 39%;
  margin-bottom: 8%;
  margin-top: 9%;
  font-size: -webkit-xxx-large;
  color: whitesmoke;
}
.poll-list .poll .body {
  margin-left: 5%;
}
.poll-list .poll .body .progress {
  width: 60%;
}
.poll-list .poll:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  cursor: pointer;
}
.new-poll-container {
  margin-top: 4%;
  margin-left: 2%;
  width: 90%;
}
.new-poll-container .title {
  padding-top: 2%;
}
.new-poll-container #new-item-input {
  width: 100%;
}
.new-poll-container .submit {
  margin-bottom: 3%;
}
.answer-poll-container {
  height: 100%;
  background-color: #ecf0f5;
  padding-top: 4%;
}
.answer-poll-container .form-container {
  background-color: white;
  width: 72%;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}
.answer-poll-container .form-container li {
  margin-bottom: 2%;
}
.answer-poll-container .form-container ul {
  width: 55%;
}
.answer-poll-container .form-container ul .dichotomic-question {
  list-style: none;
}
.answer-poll-container .form-container ul .dichotomic-question .question-text {
  margin-right: 10%;
}
.answer-poll-container .form-container ul .draggable-question {
  cursor: move;
}
.answer-poll-container .form-container ul .float-right {
  float: right;
}
.answer-poll-container .form-container .labels {
  padding-left: 2%;
}
.answer-poll-container .form-container th {
  padding: 10px;
}
.answer-poll-container .form-container tr:hover {
  background-color: #ffa;
}
.answer-poll-container .form-container .question {
  border-bottom-color: #c9d1d9;
  border-bottom-width: thin;
  border-bottom-style: solid;
}
.answer-poll-container .form-container td {
  text-align: center;
}
.answer-poll-container .form-container .dichotomic-button {
  float: right;
}
.step-progressbar-container .bs-wizard {
  margin-top: 40px;
}
.step-progressbar-container .bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.step-progressbar-container .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}
html,
body {
  height: 100%;
}
ui-view {
  height: 100%;
}
.wrapper {
  height: 100%;
}
