<div class="new-investigation-container">
  <div class="wrapper">
    <h2>Create new research study</h2>
    <form>
      <div class="form-group">
        <label >Name:</label>
        <input ng-model="investigation.name" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label >Description:</label>
        <textarea ng-model="investigation.description" class="form-control" rows="5" ></textarea>
      </div>
      <div class="form-group">
        <label >Website:</label>
        <input ng-model="investigation.website" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label >References:</label>
        <div class="note-list">
          <ul>
            <li ng-repeat="note in investigation.notes"><a >{{note}}</a></li>
            <li><a ng-show="!showNewNote" ng-click="showNewNote = !showNewnote">Add new note...</a>
                <input ng-model="itemInput" ng-show="showNewNote" ng-keypress="addItem()"></input>
            </li>
          </ul>
        </div>
      </div>
      
      <div style="display:flex; justify-content: space-around;">
        <div class="submit-button-wrapper">
          <button ng-click="" type="button" class="submit-button btn btn-success"><h4>Create survey</h2></button>
        </div>
        <h4 class="or-label"> or </h4>
        <div class="submit-button-wrapper">
            <button ng-click="submit()" type="button" class="submit-button btn btn-info"><h4>Create rubric</h2></button>
        </div>
      </div>
    </form>
  </div>
</div>