<div class="new-investigation-container">
  <div class="wrapper">
    <h2 translate="CREATE_NEW_RESEARCH_STUDY"></h2>
    <form>
      <div class="form-group">
        <label translate="NAME"></label>:
        <input ng-model="investigation.name" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label translate="DESCRIPTION"></label>:
        <textarea ng-model="investigation.description" class="form-control" rows="5" ></textarea>
      </div>
      <div class="form-group">
        <label translate="WEBSITE" ></label>:
        <input ng-model="investigation.website" type="text" class="form-control" >
      </div>
      <div class="form-group">
        <label translate="REFERENCES"></label>
        <div class="note-list">
          <ul>
            <li ng-repeat="note in investigation.notes"><a >{{note}}</a></li>
            <li>
              <a translate="ADD_NEW_REFERENCE" ng-show="!showNewNote" ng-click="showInput()"></a>
                <input ng-model="itemInput" ng-show="showNewNote" ng-keypress="addItem()">
            </li>
          </ul>
        </div>
      </div>
      
      <div style="display:flex; justify-content: space-around;">
        <div class="submit-button-wrapper">
            <button ng-click="submit('rubric')" type="button" class="submit-button btn btn-info"><h4 translate="CREATE_RUBRIC"></h4></button>
        </div>
      </div>
    </form>
  </div>
</div>