<div class="view-investigation-container">
	<h2>{{investigation[0].name}}</h2>
	<step-progress-bar steps="steps" active-step="activeStep.value"></step-progress-bar>
	<div class="row">
		<div ng-if="investigation[0].step !== '7'" class="col-md-6">
			<!-- <div class="form-group">
		      <label >Name: </label>
		      <span>{{investigation[0].name}}</span>
		    </div> -->
		    <div class="form-group">
		      <label translate="DESCRIPTION"></label>:
		      <span>{{investigation[0].description}}</span>
		    </div>
		    <div class="form-group">
		      <label translate="WEBSITE"> </label>:
		      <span>{{investigation[0].website}}</span>
		    </div>
		</div>
		<div ng-if="investigation[0].step !== '7'" class="col-md-6">
			<div class="panel panel-warning">
				<div  class="panel-heading">
		    		<h5 translate="CURRENT-STEP" class="panel-title"></h3>
		    	</div>
		    	<div ng-if="investigation[0].step === '1'" class="panel-body">
		    		<h4 translate="SELECT-EXPERTS"></h4>
		    		<p translate="SELECT-EXPERTS-MSG"></p>
		    		<button translate="NEXT-STEP" ng-click="CreatePoll(1)" class="btn btn-warning"></button>
		    		<a translate="SKIP-STEP" ng-click="ClosePoll()"></a>
		    	</div>
		    	<div ng-if="investigation[0].step === '2'" class="panel-body">
		    		<h4>{{pollsAnsweredByExperts}}/{{experts.length}} <span translate="EXPERTS_HAVE_ANSWERED"></span> <a translate="DETAILS" ng-click="ShowExperts()"></a></h4> 
		    		<p translate="WAIT-FOR-EXPERTS"></p>
		    		<button translate="CLOSE-POLL" ng-click="ClosePoll()" class="btn btn-warning"></button>

		    	</div>
		    	<div ng-if="investigation[0].step === '3'" class="panel-body">
		    		<h4 translate="FIND-DIMENSIONS"></h4>
		    		<p translate="FIND-DIMENSIONS-MSG"></p>
		    		<button translate="NEXT-STEP" ng-click="CreatePoll(2)" class="btn btn-warning"></button>
		    	</div>
		    	<div ng-if="investigation[0].step === '4'" class="panel-body">
		    		<h4>{{pollsAnsweredByExperts}}/{{experts.length}} <span translate="EXPERTS_HAVE_ANSWERED"></span> <a translate="DETAILS" ng-click="ShowExperts()"></a></h4>
		    		<p translate="WAIT-FOR-EXPERTS"></p>
		    		<h4><span translate="CURRENT-KAPPA"></span>: {{currentKappa}}</h4>
		    		<div style="display: flex;">
		    			<button translate="CLOSE-POLL" ng-click="closeDelphiMethod()" class="btn btn-warning col-lg-6" style="margin:4px;white-space:normal;"></button>
		    			<button translate="RESEND-POLL" ng-click="ResendPollPressed()" class="btn btn-info col-lg-6" style="margin:4px;white-space:normal;"></button>
		    		</div>
		    	</div>
		    	<div ng-if="investigation[0].step === '5'" class="panel-body">
		    		<h3 translate="ASSIGN-WEIGHTS"></h3>
		    		<p translate="SEND-POLL-TO-ASSIGN"></p>
		    		<div>
		    			<button translate="SEND-POLL-TO-ASSIGN-BTN" ng-click="CreatePoll(3)" class="btn btn-warning"></button>
		    		</div>
		    	</div>
		    	<div ng-if="investigation[0].step === '6'" class="panel-body">
		    		<h4>{{pollsAnsweredByExperts}}/{{experts.length}}  <span translate="EXPERTS_HAVE_ANSWERED"></span> <a ng-click="ShowExperts()">Details...</a></h4> 
		    		<p translate="WAIT-FOR-EXPERTS"></p>
		    		<button translate="CLOSE-POLL" ng-click="GoToAssignWeights()" class="btn btn-warning"></button>
		    	</div>
		    	<div ng-if="investigation[0].step === '7'" class="panel-body">
		    		<h4 translate="FINISHED"></h4> 
		    		<p translate="FINISHED-MSG"></p>
		    	</div>
			</div>
		</div>
		<div ng-if="investigation[0].step === '7'" class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading"><h4 translate="FINAL-RESULT"></h4></div>
					<div class="panel-body">
						<div ng-repeat="data in myChartObject">
							<div style="display: flex; justify-content: center;">
								<div style="width:70%;" google-chart chart="data">
							  </div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
    <div class="panel panel-primary">
    	<div ng-click="toggleVariablePanel()" class="panel-heading">
    		<h3 translate="VARIABLES" class="panel-title"></h3>
    	</div>
    	<div ng-show="variablePanelExpanded"  class="panel-body">
    		<ul class="list-group" >
		    	<li class="list-group-item" ng-repeat="variable in variables">
		    		<span ng-show="investigation[0].step >= '3'" ng-click="variable.showDimension = !variable.showDimension"
		    				ng-class="variable.showDimension ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span>
		    		{{variable.name}}
		    		<span ng-show="investigation[0].step != '7'"  ng-click="DeleteVariable(variable.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		    		<span ng-show="investigation[0].step >= '3' && investigation[0].step != '7'" ng-click="addDimension(variable)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		    		<div class="dimension-container" ng-show="variable.showDimension">
		    			<ul class="list-group">
			    			<li class="list-group-item" ng-repeat="dimension in variable.dimensions">
			    				{{dimension.name}}
			    			</li>
			    		</ul>
			    		<div class="row" ng-show="variable.showNewDimension">
					    	<input class="col-md-9" ng-keyup="$event.keyCode == 13 ? saveDimension(variable) : null" placeholder="Name" class="new-variable-button" ng-model="variable.newDimensionName" type="text" class="form-control" >
					    	<div class="button">
					    		<button ng-click="cancelSaveDimension(variable)" type="button" class="glyphicon glyphicon-remove"></button>
					    		<button ng-click="saveDimension(variable)" type="button" class="glyphicon glyphicon-ok"></button>
					    	</div>
					    </div>
		    		</div>
		    	</li>
		    </ul>
		    <div ng-show="newVariable.show">
		    	<input  placeholder="Name" ng-keyup="$event.keyCode == 13 ? saveVariable() : null" class="new-variable-button" ng-model="newVariable.name" type="text" class="form-control" >
		    	<button translate="SAVE" ng-click="saveVariable()" type="button" class="btn btn-primary"></button>
		    </div>
		    
		    <button translate="ADD-VARIABLE" ng-show="investigation[0].step != '7'" class="add-variable-button btn btn-primary" ng-click="addVariable()" type="button" class="btn btn-primary"></button>
    	</div>
	</div>
	<div class="panel panel-primary">
    	<div ng-click="toggleExpertPanel()" class="panel-heading">
    		<h3 translate="EXPERTS" class="panel-title"></h3>
    	</div>
    	<div ng-show="expertPanelExpanded"  class="panel-body">
    		<div class="list-group">
			  <div class="list-group-item " ng-repeat="expert in experts">
			  	<span ng-show="investigation[0].step != '7'" ng-click="DeleteExpert(expert.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			    <h4 class="list-group-item-heading">{{expert.name}}</h4>
			    <p class="list-group-item-text">{{expert.email}}</p>
			  </div>
			</div>
		    <button translate="ADD-EXPERT" ng-show="investigation[0].step != '7'" class="add-variable-button btn btn-primary" ng-click="addExpert()" type="button" class="btn btn-primary"></button>
    	</div>
	</div>
	<div style="visibility: hidden">
	  <div class="md-dialog-container" id="add-expert-dialog">
	    <md-dialog clickOutsideToClose="true">
	      <div class="expert-dialog">
	      	<h4 translate="ADD-EXPERT"></h4>
	      	<p translate="NAME"></p>
	      	<input class="expert-data-input" ng-model="newExpert.name">
	      	<p translate="EMAIL"></p>
	      	<input class="expert-data-input" ng-model="newExpert.email">
	      	<p translate="FIELD-OF-EXPERTISE"></p>
	      	<input class="expert-data-input" ng-model="newExpert.field">
	      	<p translate="WORKPLACE"></p>
	      	<input class="expert-data-input" ng-model="newExpert.workplace">
	      	<p translate="YEARS-OF-EXPERIENCE"></p>
	      	<input class="expert-data-input" ng-model="newExpert.years_experience">
	      	<p translate="JOB-EXPERIENCE"></p>
	      	<input class="expert-data-input" ng-model="newExpert.job_position">
	      	<div class="dialog-button">
	      		<button translate="SAVE" class="btn btn-primary" ng-click="saveExpert()"></button>
	      		<button translate="CANCEL" class="btn btn-danger" ng-click="closeDialog()"></button>
	      	</div>
	      </div>
	    </md-dialog>
	  </div>
	</div>


	<div style="visibility: hidden">
	  <div class="md-dialog-container" id="kappa-alert-dialog">
	    <md-dialog >
	    	<md-dialog-content class="dialog-confirm-close-delphi">
		      <div class="expert-dialog">
		      	<center><h4 translate="LOW-KAPPA"></h4></center>
		      	<p>{{closePollMessage}}</p>
		      	<md-dialog-actions style="display: flex; justify-content: center;">
			      	<button translate="CLOSE-AND-CONTINUE" class="btn btn-success" ng-click="goToSelectDimensions()"></button>
		      	</md-dialog-actions>
		      </div>	
		  </md-dialog-content>
	    </md-dialog>
	  </div>
	</div>


	<div style="visibility: hidden">
	  <div class="md-dialog-container" id="resend-alert-dialog">
	    <md-dialog >
	    	<md-dialog-content class="dialog-confirm-close-delphi">
		      <div class="expert-dialog">
		      	<center><h4 translate="SEND-ROUND"></h4></center>
		      	<p translate="SURE-TO-SEND"></p>
		      	<md-dialog-actions style="display: flex; justify-content: center;">
			      	<button translate="RESEND-POLL-BTN" class="btn btn-success" ng-click="ResendPoll()"></button>
		      	</md-dialog-actions>
		      </div>	
		  </md-dialog-content>
	    </md-dialog>
	  </div>
	</div>


	<div style="visibility:hidden">
		<div class="md-dialog-container" id="experts-list-dialog">
			<md-dialog>
				<div class="expert-answers">
					<div ng-show="!showAnswers && !loadingAnswers" class="list-group-item " ng-repeat="expert in experts">
					    <span >{{expert.name}}</span>
					    <span class="state" ng-show="expert.filled_poll"><span translate="ANSWERED"></span> <a translate="SEE-ANSWERS" ng-click="ShowExpertAnswers(expert)"></a></span>
					    <span translate="NOT-ANSWERED" class="state" ng-show="!expert.filled_poll"></span>
					</div>
					<md-progress-circular md-mode="indeterminate" ng-show="loadingAnswers"></md-progress-circular>
					<div ng-show="showAnswers">
						<span ng-click="BackToExpertList()" class="glyphicon glyphicon-arrow-left"></span>
						<div class="answer-list-content">
							{{selectedExpert.name}} <span translate="ANSWERS-RANKING"></span>
							<div ng-repeat="answer in answers track by $index">
								{{$index + 1 + ". " + answer.value}} 
							</div>
						</div>
					</div>
					<button translate="CLOSE" class="btn btn-danger" ng-click="closeDialog()"></button>
				</div>
			  </md-dialog>
		</div>
	</div>
</div>