<div class="view-investigation-container">
	<h2>Investigation</h2>
	<step-progress-bar steps="steps" active-step="activeStep.value"></step-progress-bar>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
		      <label >Name: </label>
		      <span>{{investigation[0].name}}</span>
		    </div>
		    <div class="form-group">
		      <label >Description: </label>
		      <span>{{investigation[0].description}}</span>
		    </div>
		    <div class="form-group">
		      <label >Website: </label>
		      <span>{{investigation[0].website}}</span>
		    </div>
		</div>
		<div class="col-md-6" >
			<div class="panel panel-warning">
				<div  class="panel-heading">
		    		<h5 class="panel-title">Current Step</h3>
		    	</div>
		    	<div ng-if="investigation[0].step === '1'" class="panel-body">
		    		<h4>Select Experts</h4>
		    		<p>Add variables and experts to research study. Variables will be used in the poll as items for the experts to rank. The result of the experts' answers will determine which experts show agreement. Click on <b>Next Step</b> to create the ranking poll or click on <b>Skip Step</b> to select experts without sending the poll. This step uses Kendall's Coefficient Algorithm.</p>
		    		<button ng-click="CreatePoll(1)" class="btn btn-warning">Next Step</button>
		    		<a >Skip Step</a>
		    	</div>
		    	<div ng-if="investigation[0].step === '2'" class="panel-body">
		    		<h4>{{pollsAnsweredByExperts}}/{{experts.length}} Experts have answered</h4>
		    		<p>Wait for experts to answer Poll. If you don't want to wait any longer or if you have enough data click on <b>Close poll with current answers</b> to finish.</p>
		    		<button ng-click="ClosePoll()" class="btn btn-warning">Close Poll with current answers</button>
		    	</div>
		    	<div ng-if="investigation[0].step === '3'" class="panel-body">
		    		<h4>Find Dimensions</h4>
		    		<p>Add Dimensions to the variables. Using the + buttons add dimensions, then click <b>Next Step</b> to send poll to all experts in order to find the most important dimensions and discard the non important ones. This step uses Fleiss' Kappa Algorithm. The poll will be sent again to the experts if agreement is not achieved.</p>
		    		<button ng-click="CreatePoll(2)" class="btn btn-warning">Next Step</button>
		    	</div>
		    	<div ng-if="investigation[0].step === '4'" class="panel-body">
		    		<h4>{{pollsAnsweredByExperts}}/{{experts.length}} Experts have answered</h4>
		    		<p>Wait for experts to answer Poll.</p>
		    		<button ng-click="ClosePoll()" class="btn btn-warning">Close Poll with current answers</button>
		    	</div>
			</div>
		</div>
	</div>
    <div class="panel panel-primary">
    	<div ng-click="toggleVariablePanel()" class="panel-heading">
    		<h3 class="panel-title">Variables</h3>
    	</div>
    	<div ng-show="variablePanelExpanded"  class="panel-body">
    		<ul class="list-group" >
		    	<li class="list-group-item" ng-repeat="variable in variables">
		    		<span ng-show="investigation[0].step >= '3'" ng-click="variable.showDimension = !variable.showDimension"
		    				ng-class="variable.showDimension ? 'glyphicon glyphicon-chevron-right' : 'glyphicon glyphicon-chevron-down'"></span>
		    		{{variable.name}}
		    		<span ng-click="DeleteVariable(variable.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		    		<span ng-show="investigation[0].step >= '3'" ng-click="addDimension(variable)" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		    		<div class="dimension-container" ng-show="variable.showDimension">
		    			<ul class="list-group">
			    			<li class="list-group-item" ng-repeat="dimension in variable.dimensions">
			    				{{dimension}}
			    			</li>
			    		</ul>
			    		<div ng-show="variable.showNewDimension">
					    	<input  placeholder="Name" class="new-variable-button" ng-model="variable.newDimensionName" type="text" class="form-control" >
					    	<button ng-click="cancelSaveDimension(variable)" type="button" class="glyphicon glyphicon-remove"></button>
					    	<button ng-click="saveDimension(variable)" type="button" class="glyphicon glyphicon-ok"></button>
					    </div>
		    		</div>
		    	</li>
		    </ul>
		    <div ng-show="newVariable.show">
		    	<input  placeholder="Name" class="new-variable-button" ng-model="newVariable.name" type="text" class="form-control" >
		    	<button ng-click="saveVariable()" type="button" class="btn btn-primary">Save</button>
		    </div>
		    
		    <button class="add-variable-button btn btn-primary" ng-click="addVariable()" type="button" class="btn btn-primary">Add Variable</button>
    	</div>
	</div>
	<div class="panel panel-primary">
    	<div ng-click="toggleExpertPanel()" class="panel-heading">
    		<h3 class="panel-title">Experts</h3>
    	</div>
    	<div ng-show="expertPanelExpanded"  class="panel-body">
    		<div class="list-group">
			  <div class="list-group-item " ng-repeat="expert in experts">
			  	<span ng-click="DeleteExpert(expert.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			    <h4 class="list-group-item-heading">{{expert.name}}</h4>
			    <p class="list-group-item-text">{{expert.email}}</p>
			  </div>
			</div>
		    <button class="add-variable-button btn btn-primary" ng-click="addExpert()" type="button" class="btn btn-primary">Add Expert</button>
    	</div>
	</div>
	<div style="visibility: hidden">
	  <div class="md-dialog-container" id="add-expert-dialog">
	    <md-dialog>
	      <div class="expert-dialog">
	      	<h4>Add Expert</h4>
	      	<p>Name</p>
	      	<input ng-model="newExpert.name">
	      	<p>Email</p>
	      	<input ng-model="newExpert.email">
	      	<p>Field of Expertise</p>
	      	<input ng-model="newExpert.field">
	      	<p>Workplace</p>
	      	<input ng-model="newExpert.workplace">
	      	<p>Years of Experience</p>
	      	<input ng-model="newExpert.years_experience">
	      	<p>Job Position</p>
	      	<input ng-model="newExpert.job_position">
	      	<div class="dialog-button">
	      		<button class="btn btn-primary" ng-click="saveExpert()">Save</button>
	      		<button class="btn btn-danger" ng-click="closeDialog()">Cancel</button>
	      	</div>
	      </div>
	    </md-dialog>
	  </div>
	</div>
</div>