.investigation-list{
	#grid-container{
		box-sizing: border-box;
	}

	#no-more-tables{
		overflow: auto;
		position: relative;
	}

	.investigation{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	    background-color: white;
	    margin: 1%;
	    display: inline-block;
	    width: 25%;
	    border-radius: 5px;
	    overflow: hidden;
	    max-height: 1000px;
	    min-height: 500px;
	    padding: 20px;
	    .header{
            background-color: white;
		    width: 100%;
		    display: inline-block;
	    	.glyphicon{
	    		font-size: 319%;
			    color: whitesmoke;
			    margin: 10px;
	    	}
	    	h2{
	    		color: slategray;
    			font-size: 15px;
    			margin: 0px;
	    	}
	    	h1{
		        color: gray;
			    font-family: "Times New Roman", Georgia, Serif;
			    font-weight: normal;
			    font-size: 30px;
			    align-self: flex-end;
			    margin: 0px;
	    	}
	    }
	    .body{
			.progress{
				width: 60%;
			}
			.investigation-info{
				margin-top: 20px;
			    h3{
			    	margin-top: 0px;
			    }
			}
			.meta-info-wrapper{
				margin:0px;
				width: 100%;
			    display: flex;
			    border: 1px solid #E0E0E0;
    			border-radius: 4px;
    			min-height: 100px;
    			justify-content: center;
    			align-items: center;
				.variables-section{
				    text-align: center;
					width: 50%;
    				display: flex;
				    h4{
				    	margin-top: 0px;
				    }
				}
				.experts-section{
					text-align: center;
				    width: 50%;
			        display: flex;
				    h4{
				    	margin-top: 0px;
				    }

				}
				.big-number{
					font-size: 40px;
					color: #757575;
					font-weight: bold;
					margin: 5px;
				}
			}
			
			
			.actions{
				padding-left: 2%;
    			padding-top: 2%;
			    .option{
			    	margin-bottom: 15%;
			    	font-size: medium;
			    }
			    .option:hover{
					background-color: #ecf0f5;
					cursor: pointer;
				}
			}
	    }
	}

	.add-investigation-button{
		margin-top: 6%;
	    margin-bottom: 2%;
	}	
}

.new-investigation-container{
	margin-top: 4%;
    margin-left: 1%;
    h2{
    	padding-top:2%;
    }
}

@import "View/viewInvestigation.less";
@import "RemoveExperts/removeExperts.less";