<div class="investigation-list">
    <div class="button-banner">
        <button ng-click="Create()" type="button" class="add-investigation-button btn btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span translate="ADD_NEW_RESEARCH_STUDY"></span>
        </button>
    </div>
	<div id="grid-container">
        <md-progress-circular class="investigation-modal" md-mode="indeterminate" ng-show="loadingInvestigations"></md-progress-circular>
        <div id="no-more-tables row">
            <div  class="investigation col-md-4"   ng-repeat="investigation in investigations">

                <div id="content">
                    <div class="header">
                        <!-- <h2>Current Status</h2> -->
                        <h1 class="investigation-name">{{investigation.name}}</h1>
                        <a href="http://{{investigation.website}}">{{investigation.website}}</a>
                        <span translate="NO_WEBSITE" ng-show="investigation.website === undefined">
                           
                        </span>
                    </div>
                    <div class="body">
                        <div class="investigation-info">
                        </div>
                        <div class="row meta-info-wrapper">
                            <div class="col-md-4 variables-section">
                                <span class="big-number" >
                                    {{investigation.variables.length}}
                                </span>
                                <div class="col-md-8">
                                    <h4 translate="VARIABLES"></h4>
                                </div>
                            </div>
                            <div class="col-md-4 experts-section">
                                <span class="big-number" >
                                    {{investigation.experts.length}}
                                </span>
                                <div class="col-md-8">
                                    <h4 translate="EXPERTS_PARTICIPATING"></h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                </div>
                <div class="actions row">
                        <div data-toggle="tooltip" title="Edit" class="col-md-4" >
                            <span ng-click="editInvestigation(investigation)" class="option1 glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </div>
                        <div data-toggle="tooltip" title="Work" class="col-md-4 option2" ng-click="ViewDetails(investigation)" >
                            <span class="option2 glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        </div>
                        <div data-toggle="tooltip" title="Delete" class="col-md-4" ng-click="DeleteDialog(investigation)">
                            <span class="option3 glyphicon glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </div>
                    </div>
            </div>
            <div translate="YOU_HAVE_NO_INVESTIGATIONS" ng-show="investigation.length === 0">
            </div>
        </div>
    </div>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="edit-investigation-dialog">
        <md-dialog>
          <div class="expert-dialog">
            <h4 translate="EDIT_RESEARCH_STUDIES"></h4>
            <p translate="NAME"></p>
            <input ng-model="editInvestigationModel.name">
            <p translate="DESCRIPTION"></p>
            <input ng-model="editInvestigationModel.description">
            <p translate="WEBSITE"></p>
            <input ng-model="editInvestigationModel.website">
            <div class="dialog-button">
                <button translate="UPDATE" class="btn btn-primary" ng-click="updateInvestigation()"></button>
                <button translate="CANCEL" class="btn btn-danger" ng-click="closeDialog()"></button>
            </div>
          </div>
        </md-dialog>
      </div>
    </div>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="delete-investigation-dialog">
        <md-dialog>
          <div class="expert-dialog">
            <h4>{{ ::("DELETE") | translate }} {{deleteInvestigationModel.name}}</h4>
            <div class="dialog-button">
                <button translate="DELETE" class="btn btn-primary" ng-click="Delete(deleteInvestigationModel.id)"></button>
                <button translate="CANCEL" class="btn btn-danger" ng-click="closeDialog()"></button>
            </div>
          </div>
        </md-dialog>
      </div>
    </div>
</div>