<div class="remove-dimensions-container">
	<div class="box">
		<h1 translate="REMOVE-DIMENSIONS-TITLE"></h1>
		<p translate="REMOVE-DIMENSIONS-MSG"></p>
		<div class="variable-list" ng-repeat="variable in investigation.variables">
			<h4>{{variable.name}}</h4>
			<div class="dimension-container col-md-12">
				<div class="dimension" ng-repeat="dimension in variable.dimensions">
					<div class="dimension-wrapper">
						<input ng-model="dimension.checked" type="checkbox"/>
						<p>{{dimension.name}}</p>
					</div>
				</div>
			</div>
		</div>
		<button translate="SUBMIT" ng-click="submit()" class="btn btn-success"></button>
	</div>
</div>