<div class="new-poll-container">
  <h2 class="title">New {{pollName}} Poll</h2>
  <p>Fill in the poll information</p>
  <form class="form-wrapper">
    <div class="form-group">
      <label >Title:</label>
      <input ng-model="poll.title" type="text" class="form-control" >
    </div>
    <div class="form-group">
      <label >Description:</label>
      <textarea ng-model="poll.description" class="form-control" rows="5" ></textarea>
    </div>
    <div class="form-group">
      <label >Instructions:</label>
      <textarea ng-model="poll.instructions" class="form-control" rows="5" ></textarea>
    </div>
    <div class="form-group">
      <label >Items:</label>
      <div class="list-group">
  		  <button ng-repeat="item in poll.questions track by $index" type="button" class="list-group-item">{{item}}</button>
  		  <!--<button ng-click="showItemInput()" ng-hide="!hideItemInput" type="button" class="list-group-item add-question-button">Add new item...</button>
  		  <input ng-model="itemInput" ng-keypress="addItem()" ng-hide="hideItemInput" class="list-group-item " id="new-item-input">-->
  		</div>
    </div>
    <div ng-show="type === '2'" class"form-group">

    </div>
    <button ng-click="submit()" type="button" class="submit btn btn-primary">Submit</button>
  </form>
</div>